.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body{
    background-color: rgb(247, 246, 246);
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* shared style */
.secondary-bg {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}


.btn-primary a{
    text-decoration: none;
    color: wheat;
    font-weight: 800;
}


.fa-solid{
    margin-right: 10px;
}
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.text-center {
    text-align: center;
}

/* header  */
.header {
    background-image: url('../Assets/developer.png'), url('../Assets/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-profile-pic {
    width: 580px;
}

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

/* Main-About */

.section-title {
    font-size: 35px;
    font-weight: bold;
}

.section-description {
    font-size: 18px;
    font-weight: bold;
}

/* about Styles */

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 100px;
}

.about:hover{
    box-shadow: 1px 0 0px 1px blueviolet;
    transition: 0.5s;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-description {
    font-weight: 600;
}

/* Skill Section Styles */

.task, .task-description{
    margin: 30px 200px;
}

.task-description{

}

.skills{
    text-align: center;
}

.card-box {
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 20px;
}

.card{
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
}

.card-content{
    padding: 30px 20px;
}

.card:hover{
    box-shadow: 1px 0 1px 1px purple;
    transition: 0.5s;
}

.summary{
    color: #4d4c4c;
}

.summary > h1{
    text-align: center;
}


.summary-content{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-family: "Open Sans", sans-serif;
}

.education-hl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 50px; */
}

.education-hl > img{
    margin-left: -80px;
    width: 60px;
    /* height: 20px; */
}

.education-content > h4, h5{
    margin: 5px 0 10px 0;
    font-family: "Open Sans", sans-serif;
}

.edu-btn{
    text-align: center;
    margin: 30px;
}

.edu-btn a{
    text-decoration: none;
}


/* footer Styles */

footer{
    display: flex;
    padding: 100px 230px;
    gap: 100px;
    background-color: #fcf3ee;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], input[type="email"]{
    width: 100%;
    height: 40px;
    display: flex;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer input[type="text"]:hover, input[type="email"]:hover{
    box-shadow: 1px 0 1px 1px purple;
    transition: 0.5s;
}

footer textarea{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer textarea:hover{
    box-shadow: 1px 0 1px 1px purple;
    transition: 0.5s;
}